## BGC X GenAI Task 2

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

/Users/student/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

## Dataset setup 
- Growth columns created to analyse year-over-year changes in financial metrics.
- Profit margin as measure of profitability of business.
    - Profit margin = $\frac{\text{Net Income}}{\text{Total Revenue}}$
- Return on assets as measure of business asset utilisation.
    - Return on assets = $\frac{\text{Net Income}}{\text{Total Assets}}$
- Operating cash flow ratio as measure of operational efficiency. 
    - Operating cash flow ratio = $\frac{\text{Operating Cash Flow}}{\text{Total Revenue}}$

In [2]:
df = pd.read_csv('BGC_X_GenAI_Task_1.csv', encoding='utf-8-sig', sep='\s*,\s*', engine='python')
df = df[df['Company'].notna()] # https://stackoverflow.com/questions/13413590/how-to-drop-rows-of-pandas-dataframe-whose-value-in-a-certain-column-is-nan

df['Revenue Growth (%)'] = df.groupby(['Company'])['Total Revenue'].pct_change() * 100
df['Net Income Growth (%)'] = df.groupby(['Company'])['Net Income'].pct_change() * 100
df['Asset Growth (%)'] = df.groupby(['Company'])['Total Assets'].pct_change() * 100
df['Liability Growth (%)'] = df.groupby(['Company'])['Total Liabilities'].pct_change() * 100
df['Cash Flow Growth (%)'] = df.groupby(['Company'])['Cash Flow from Operating Activities'].pct_change() * 100

df['Profit Margin'] = df['Net Income'] / df['Total Revenue']
df['Return On Assets'] = df['Net Income'] / df['Total Assets']
df['Operating Cash Flow Ratio'] = df['Cash Flow from Operating Activities'] / df['Total Revenue']
display(df)

,Company,Year,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities,Revenue Growth (%),Net Income Growth (%),Asset Growth (%),Liability Growth (%),Cash Flow Growth (%),Profit Margin,Return On Assets,Operating Cash Flow Ratio
0,Microsoft,2021.0,168088.0,61271.0,333779.0,191791.0,76740.0,NaN,NaN,NaN,NaN,NaN,0.364517,0.183568,0.456547
1,Microsoft,2022.0,198270.0,72738.0,364840.0,198298.0,89035.0,17.956071,18.715216,9.305858,3.392756,16.021631,0.366863,0.199370,0.449059
2,Microsoft,2023.0,211915.0,72361.0,411976.0,205753.0,87582.0,6.882030,-0.518299,12.919636,3.759493,-1.631942,0.341462,0.175644,0.413288
3,Tesla,2021.0,53823.0,5644.0,62131.0,30548.0,5644.0,NaN,NaN,NaN,NaN,NaN,0.104862,0.090840,0.104862
4,Tesla,2022.0,81462.0,12587.0,82338.0,36440.0,12587.0,51.351653,123.015592,32.523217,19.287678,123.015592,0.154514,0.152870,0.154514
5,Tesla,2023.0,96773.0,14974.0,106618.0,43009.0,14974.0,18.795267,18.964010,29.488207,18.026894,18.964010,0.154733,0.140445,0.154733
6,Apple,2021.0,365817.0,94680.0,351002.0,287912.0,104038.0,NaN,NaN,NaN,NaN,NaN,0.258818,0.269742,0.284399
7,Apple,2022.0,394328.0,99803.0,352755.0,302083.0,122151.0,7.793788,5.410858,0.499427,4.921990,17.409985,0.253096,0.282924,0.309770
8,Apple,2023.0,383285.0,96995.0,352583.0,290437.0,110543.0,-2.800461,-2.813543,-0.048759,-3.855232,-9.502992,0.253062,0.275098,0.288409

## Simple chatbot example (Provided by Task 2)

In [3]:
def simple_chatbot(user_query):
   if user_query == "What is the total revenue?":
       return "The total revenue is [amount]."
   elif user_query == "How has net income changed over the last year?":
       return "The net income has [increased/decreased] by [amount] over the last year."
   # Add more conditions for other predefined queries
   else:
       return "Sorry, I can only provide information on predefined queries."

## Basic chatbot with limited selections (Adapted further from Task 2)
- Chatbot has 2 major queries it can respond to:
    - `1`: Insert company, year and property to find the corresponding value.
    - `2`: Find the greatest/least value within each company or year.
    - `q`: Exit the chatbot.
- The chatbot will consider any other input as invalid responses.
- It can only take very limited forms of input, which heavily restricts the types of queries it can answer.

In [5]:
def companyinput():
    print("List of companies:")
    for x in df.Company.unique():
        print("* " + str(x))
    c1 = input("From above, input company of interest: ")
    while c1 not in df.Company.unique(): 
        c1 = input("Invalid input, try again:")
    return c1

def yearinput(): 
    print("List of years:")
    yearlist = [str(x) for x in df.Year.unique()]
    for x in yearlist:
        print("* " + str(x))
    y1 = input("From above, input year of interest: ")
    while y1 not in yearlist: 
        y1 = input("Invalid input, try again:")
    return y1

def propertyinput(): 
    print("List of properties:")
    categorical = ["Company", "Year"]
    growths = ["Revenue Growth (%)", "Net Income Growth (%)", "Asset Growth (%)", "Liability Growth (%)", "Cash Flow Growth (%)"]
    propertylist = [x for x in list(df.columns) if x not in categorical] 
    for x in propertylist: 
        print("* " + str(x))
    p1 = input("From above, input property of interest: ")
    while p1 not in propertylist: 
        p1 = input("Invalid input, try again:")
    return p1

In [6]:
def chatbot_v2(): 
    option = input('Enter option: \n1: Value of property given year and company \n2: Greatest/least value of property given year/company \nq: Quit \n')
    while option not in ["1", "2", "q"]: 
        option = input("Invalid input, try again:")
    
    if option == "1": 
        c1 = companyinput()
        y1 = yearinput()
        p1 = propertyinput()

        try: 
            interestvals = df.loc[(df["Company"] == c1) & (df["Year"] == float(y1))][p1].values
            interestvals = interestvals[~np.isnan(interestvals)] 
            interestval = interestvals[0]
            print("Value of " + p1 + " for " + c1 + " in " + y1 + ": " + str(interestval))
        except IndexError: 
            print("Value of " + p1 + " for " + c1 + " in " + y1 + " is not available in the dataset.")
    
    elif option == "2": 
        updown = input("Greatest or Least? ")
        while updown not in ["Greatest", "Least"]: 
            updown = input("Invalid input, try again:")

        p1 = propertyinput()

        compyear = input("Company or Year? ")
        while compyear not in ["Company", "Year"]: 
            compyear = input("Invalid input, try again:")
        if compyear == "Company": 
            cy2 = companyinput()
            interestvals = df.loc[df["Company"] == cy2][p1]
            interestvals = interestvals[~np.isnan(interestvals)]
            if updown == "Greatest": 
                interestval = max(interestvals)
                print("Maximum value of " + p1 + " for all years in " + cy2 + ": " + str(interestval))
            else: 
                interestval = min(interestvals)
                print("Minimum value of " + p1 + " for all years in " + cy2 + ": " + str(interestval))
        else: 
            cy2 = yearinput()
            interestvals = df.loc[df["Year"] == float(cy2)][p1].tolist()
            # interestvals = interestvals[~np.isnan(interestvals)]
            # print(interestvals)
            if updown == "Greatest": 
                interestval = max(interestvals)
                print("Maximum value of " + p1 + " for all companies in " + cy2 + ": " + str(interestval))
            else: 
                interestval = min(interestvals)
                print("Minimum value of " + p1 + " for all companies in " + cy2 + ": " + str(interestval))
    
    else: 
        print("Good day.")

In [7]:
chatbot_v2() # Demonstrate invalid input for each, value of basic metrics

Enter option:
1: Value of property given year and company
2: Greatest/least value of property given year/company
q: Quit
 m
Invalid input, try again: 1

List of companies:
* Microsoft
* Tesla
* Apple

From above, input company of interest:  m
Invalid input, try again: Microsoft

List of years:
* 2021.0
* 2022.0
* 2023.0

From above, input year of interest:  2023.0

List of properties:
* Total Revenue
* Net Income
* Total Assets
* Total Liabilities
* Cash Flow from Operating Activities
* Revenue Growth (%)
* Net Income Growth (%)
* Asset Growth (%)
* Liability Growth (%)
* Cash Flow Growth (%)
* Profit Margin
* Return On Assets
* Operating Cash Flow Ratio

From above, input property of interest:  Total Revenue

Value of Total Revenue for Microsoft in 2023.0: 211915.0

In [8]:
chatbot_v2() # Demonstrate value of growth metrics

Enter option:
1: Value of property given year and company
2: Greatest/least value of property given year/company
q: Quit
 1

List of companies:
* Microsoft
* Tesla
* Apple

From above, input company of interest:  Tesla

List of years:
* 2021.0
* 2022.0
* 2023.0

From above, input year of interest:  2022.0

List of properties:
* Total Revenue
* Net Income
* Total Assets
* Total Liabilities
* Cash Flow from Operating Activities
* Revenue Growth (%)
* Net Income Growth (%)
* Asset Growth (%)
* Liability Growth (%)
* Cash Flow Growth (%)
* Profit Margin
* Return On Assets
* Operating Cash Flow Ratio

From above, input property of interest:  Net Income Growth (%)

Value of Net Income Growth (%) for Tesla in 2022.0: 123.01559177888022

In [9]:
chatbot_v2() # Demonstrate value of growth metrics for 2021 (Lack of value)

Enter option:
1: Value of property given year and company
2: Greatest/least value of property given year/company
q: Quit
 1

List of companies:
* Microsoft
* Tesla
* Apple

From above, input company of interest:  Apple

List of years:
* 2021.0
* 2022.0
* 2023.0

From above, input year of interest:  2021.0

List of properties:
* Total Revenue
* Net Income
* Total Assets
* Total Liabilities
* Cash Flow from Operating Activities
* Revenue Growth (%)
* Net Income Growth (%)
* Asset Growth (%)
* Liability Growth (%)
* Cash Flow Growth (%)
* Profit Margin
* Return On Assets
* Operating Cash Flow Ratio

From above, input property of interest:  Asset Growth (%)

Value of Asset Growth (%) for Apple in 2021.0 is not available in the dataset.

In [10]:
chatbot_v2() # Demonstrate value of ratio metrics

Enter option:
1: Value of property given year and company
2: Greatest/least value of property given year/company
q: Quit
 1

List of companies:
* Microsoft
* Tesla
* Apple

From above, input company of interest:  Tesla

List of years:
* 2021.0
* 2022.0
* 2023.0

From above, input year of interest:  2021.0

List of properties:
* Total Revenue
* Net Income
* Total Assets
* Total Liabilities
* Cash Flow from Operating Activities
* Revenue Growth (%)
* Net Income Growth (%)
* Asset Growth (%)
* Liability Growth (%)
* Cash Flow Growth (%)
* Profit Margin
* Return On Assets
* Operating Cash Flow Ratio

From above, input property of interest:  Profit Margin

Value of Profit Margin for Tesla in 2021.0: 0.10486223361759843

In [11]:
chatbot_v2() # Demonstrate greatest value of basic metric given year

Enter option:
1: Value of property given year and company
2: Greatest/least value of property given year/company
q: Quit
 2
Greatest or Least?  Greatest

List of properties:
* Total Revenue
* Net Income
* Total Assets
* Total Liabilities
* Cash Flow from Operating Activities
* Revenue Growth (%)
* Net Income Growth (%)
* Asset Growth (%)
* Liability Growth (%)
* Cash Flow Growth (%)
* Profit Margin
* Return On Assets
* Operating Cash Flow Ratio

From above, input property of interest:  Cash Flow from Operating Activities
Company or Year?  Year

List of years:
* 2021.0
* 2022.0
* 2023.0

From above, input year of interest:  2021.0

Maximum value of Cash Flow from Operating Activities for all companies in 2021.0: 104038.0

In [12]:
chatbot_v2() # Demonstrate least value of growth metric given company

Enter option:
1: Value of property given year and company
2: Greatest/least value of property given year/company
q: Quit
 2
Greatest or Least?  Least

List of properties:
* Total Revenue
* Net Income
* Total Assets
* Total Liabilities
* Cash Flow from Operating Activities
* Revenue Growth (%)
* Net Income Growth (%)
* Asset Growth (%)
* Liability Growth (%)
* Cash Flow Growth (%)
* Profit Margin
* Return On Assets
* Operating Cash Flow Ratio

From above, input property of interest:  Liability Growth (%)
Company or Year?  Company

List of companies:
* Microsoft
* Tesla
* Apple

From above, input company of interest:  Microsoft

Minimum value of Liability Growth (%) for all years in Microsoft: 3.3927556558962513

In [13]:
chatbot_v2() # Quit

Enter option:
1: Value of property given year and company
2: Greatest/least value of property given year/company
q: Quit
 q

Good day.

## References 
- https://stackoverflow.com/questions/11620914/how-do-i-remove-nan-values-from-a-numpy-array